In [85]:
import numpy as np
import pandas as pd
from os import path
import pickle

pd.options.display.max_seq_items = 2000

In [57]:
openfile=open( r"C:\Users\Joseph\Documents\Beamly\TakeHomeTask\beamly_case_study2.pickle", "rb")
df=pickle.load(openfile)
openfile.close()

In [60]:
df.shape

(27091, 13)

In [61]:
df.columns

Index(['date', 'avg_hour', 'min_hour', 'max_hour', 'device_name',
       'productBand', 'avg_price', 'total_products', 'num_orders', 'city',
       'region', 'County', 'Country'],
      dtype='object')

In [62]:
df.head(20)

,date,avg_hour,min_hour,max_hour,device_name,productBand,avg_price,total_products,num_orders,city,region,County,Country
1,2018-07-12,20.0,20,20,Mobile,between20and30,29.950,1.0,1,Redbourn,Hertfordshire,Hertfordshire,England
2,2018-08-05,22.0,22,22,Desktop and Laptop,between20and30,27.950,1.0,1,Bearsden,East Dunbartonshire,NaN,NaN
3,2018-07-13,14.0,14,14,Mobile,between20and30,27.950,1.0,1,Bearsden,East Dunbartonshire,NaN,NaN
5,2018-08-10,19.0,19,19,Tablet,lessThan10,9.950,1.0,1,Bearsden,East Dunbartonshire,NaN,NaN
6,2018-07-12,17.0,17,17,Desktop and Laptop,between20and30,29.950,1.0,1,Greenwich,Greenwich,NaN,NaN
7,2018-07-09,16.0,16,16,Mobile,between20and30,29.950,1.0,1,Greenwich,Greenwich,NaN,NaN
8,2018-07-05,11.0,11,11,Desktop and Laptop,lessThan10,8.990,1.0,1,Greenwich,Greenwich,NaN,NaN
10,2018-08-07,18.0,18,18,Desktop and Laptop,lessThan10,1.990,4.0,1,Greenwich,Greenwich,NaN,NaN
11,2018-08-11,12.0,12,12,Desktop and Laptop,between10and20,19.950,1.0,1,Greenwich,Greenwich,NaN,NaN
12,2018-07-17,12.5,11,14,Tablet,between20and30,26.225,2.0,2,Greenwich,Greenwich,NaN,NaN
13,2018-07-16,13.0,13,13,Mobile,between10and20,14.950,1.0,1,Greenwich,Greenwich,NaN,NaN
16,2018-08-13,15.0,15,15,Mobile,between10and20,19.900,NaN,1,Greenwich,Greenwich,NaN,NaN
17,2018-07-12,15.0,15,15,Desktop and Laptop,lessThan10,1.500,1.0,1,Greenwich,Greenwich,NaN,NaN
19,2018-07-10,16.0,16,16,Mobile,between10and20,19.950,2.0,1,Greenwich,Greenwich,NaN,NaN
20,2018-08-11,15.0,15,15,Mobile,between20and30,22.950,NaN,1,Greenwich,Greenwich,NaN,NaN
21,2018-07-06,6.0,6,6,Desktop and Laptop,between10and20,14.950,1.0,1,Greenwich,Greenwich,NaN,NaN
22,2018-07-09,15.0,15,15,Mobile,lessThan10,1.950,5.0,1,Greenwich,Greenwich,NaN,NaN
23,2018-08-06,19.0,19,19,Desktop and Laptop,lessThan10,2.160,4.0,1,Greenwich,Greenwich,NaN,NaN
24,2018-07-15,22.0,22,22,Mobile,price_missing,NaN,1.0,1,Greenwich,Greenwich,NaN,NaN
25,2018-07-29,12.5,2,23,Mobile,between20and30,25.950,2.0,2,Greenwich,Greenwich,NaN,NaN

#### Note on Nans

Nans exist in the following columns and need to be imputed: avg_price, total_products, County, Country

 Start with something 'easy' or not too important. Want to think about how could impute Country/County, so look to see if city or region can help.

### Impute Country/County

In [86]:
df.groupby(['Country'])['County'].unique().to_dict()

{'England': array(['Hertfordshire', 'Suffolk', 'Worcestershire', 'West Sussex',
        'Lincolnshire', 'Essex', 'North Yorkshire', 'Cornwall', 'Devon',
        'Norfolk', 'Hampshire', 'Buckinghamshire', 'Nottinghamshire',
        'East Sussex', 'Kent', 'Lancashire', 'Staffordshire', 'Bristol',
        'Surrey', 'Cumbria', 'Northumberland', 'Derbyshire',
        'Northamptonshire', 'Gloucestershire', 'Cambridgeshire',
        'Oxfordshire', 'Warwickshire', 'Somerset', 'Wiltshire', 'Dorset',
        'Shropshire', 'Bedfordshire', 'Leicestershire', 'Herefordshire',
        'Rutland'], dtype=object),
 'Scotland': array(['Falkirk', 'East Lothian', 'Fife', 'Clackmannanshire', 'Moray',
        'West Lothian', 'Scottish Borders', 'Aberdeenshire', 'Angus'],
       dtype=object),
 'Wales': array(['Pembrokeshire', 'Conwy', 'Monmouthshire', 'Carmarthenshire',
        'Gwynedd', 'Denbighshire', 'Ceredigion', 'Wrexham', 'Flintshire',
        'Powys'], dtype=object)}

In [98]:
country_city_dict=df.groupby(['Country'])['city'].unique().to_dict()
for i in country_city_dict['England']:
    if i=='Greenwich':
        print(i)

Was thinking of using the city and region to impute a county and country, but looks like that won't work. It's probably easiest to make a new generalised Country as UK, for the sake of this excerise it would be easier. Otherwise you could use an outside source of information to match cities with county and country.

I think the easiest thing to do now would be to replace the missing fields with missing_country and missing_county. Especially as it is not relevant to the problem, which is just to forecast sales no specific to country or county.